* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EED5B2;
}

h1 {
    color: #E66159;
    font-size: 3.5em;
    font-family: 'Bagel Fat One', cursive;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 50px;
    flex-wrap: wrap;
    gap: 15px;
}

.left-menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 100px;
    margin-right: 125px;
}

#color-picker {
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 50%;
    background-color: #E66159;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.option {
    width: 175px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #E66159;
    background-color: transparent;
    color: #E66159;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.option:hover {
    background-color: #E66159;
    color: white;
    border: none;
    transition: 0.3s ease-in-out;
}

.option:focus {
    background-color: #E66159;
    color: white;
    outline: 0;
}

.range-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

#size-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

#size-range {
    width: 100%;
    cursor: pointer;
    height: 5px;
}


.drawing-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 0;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.pixel {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}